<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata Microservice</title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>

  <body>
    <div class="container">
      <div class="title">
        <h1>File Metadata Microservice</h1>
      </div>
      <div class="upload">
        <form
          id="uploadForm"
          action="/api/fileanalyse"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="upload-btn-wrapper">
            <button class="btn">Choose a file</button>
            <input type="file" name="upfile" />
          </div>
          <input type="submit" class="btn" value="Upload" />
        </form>
      </div>
      <div class="result">
        <h3>Result:</h3>
        <div id="result"></div>
      </div>
    </div>

    <script>
      const form = document.getElementById('uploadForm');
      const resultDiv = document.getElementById('result');

      form.addEventListener('submit', function (event) {
        event.preventDefault();

        const formData = new FormData(form);

        fetch('/api/fileanalyse', {
          method: 'POST',
          body: formData,
        })
          .then(function (response) {
            return response.json();
          })
          .then(function (data) {
            resultDiv.innerHTML = `File name: ${data.name}<br>
                                    File type: ${data.type}<br>
                                    File size: ${data.size} bytes`;
          })
          .catch(function (error) {
            resultDiv.innerHTML = `Error: ${error.message}`;
          });
      });
    </script>
  </body>
</html>
