.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.title {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.btn {
    background-color: #4c4eaf;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background-color: #4a3e8e;
}

input[type="file"] {
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.result {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.result h3 {
    margin-bottom: 1rem;
}